<div class="card mb-3">
  <div class="card-body">
  
    <h5 class="card-title"><%= @gossip.title %></h5>

    <% unless @gossip.user_id.blank? %>
      <a href="<%=user_path(id: @gossip.user)%>">
        <h6 class="card-subtitle mb-2 text-muted">
        <%= @user.first_name %> 
        <%= @user.last_name %>
        </h6>
      </a>
    <% end %>

    <p class="card-text"><%= @gossip.content %></p>
    <%# <a href="#" class="card-link">Card link</a> %>
    
  </div>
</div>


    